# pandas 20 essential methods

<a href="https://medium.com/@ugursavci/most-important-pandas-methods-you-should-know-as-a-data-scientist-1d5f86fa36af">Source</a>

In [1]:
# %load command1.py
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, date, time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

%config InlineBackend.figure_format='svg'
plt.rcParams['figure.dpi']=120

pd.options.display.float_format='{:,.2f}'.format
pd.set_option('display.max_colwidth', None)

## Data Understanding

**read_csv()**

In [2]:
df = pd.read_csv('.\data\marketing_campaign.csv' , sep=',' )

# we can change the sep argument sep = ` \t ` or sep = ` ; `

In [3]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,"5,524.00","1,957.00",Graduation,Single,"58,138.00",0.00,0.00,04-09-2012,58.00,635.00,...,10.00,4.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
1,"2,174.00","1,954.00",Graduation,Single,"46,344.00",1.00,1.00,08-03-2014,38.00,11.00,...,1.00,2.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,"4,141.00","1,965.00",Graduation,Together,"71,613.00",0.00,0.00,21-08-2013,26.00,426.00,...,2.00,10.00,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,"6,182.00","1,984.00",Graduation,Together,"26,646.00",1.00,0.00,10-02-2014,26.00,11.00,...,0.00,4.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,"5,324.00","1,981.00",PhD,Married,"58,293.00",1.00,0.00,19-01-2014,94.00,173.00,...,3.00,6.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [4]:
df.tail()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
2236,"4,001.00","1,946.00",PhD,Together,"64,014.00",2.00,1.00,10-06-2014,56.00,406.00,...,2.00,5.00,7.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00
2237,"7,270.00","1,981.00",Graduation,Divorced,"56,981.00",0.00,0.00,25-01-2014,91.00,908.00,...,3.00,13.00,6.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00
2238,"8,235.00","1,956.00",Master,Together,"69,245.00",0.00,1.00,24-01-2014,8.00,428.00,...,5.00,10.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2239,"9,405.00","1,954.00",PhD,Married,"52,869.00",1.00,1.00,15-10-2012,40.00,84.00,...,1.00,4.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
2240,"4,749.00","1,968.00",Graduation,Together,"58,554.00",1.00,1.00,26-09-2012,55.00,368.00,...,2.00,6.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

**info()**

We can check whether a column has null value or not

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2241 entries, 0 to 2240
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2241 non-null   float64
 1   Year_Birth           2241 non-null   float64
 2   Education            2241 non-null   object
 3   Marital_Status       2241 non-null   object
 4   Income               2217 non-null   float64
 5   Kidhome              2241 non-null   float64
 6   Teenhome             2241 non-null   float64
 7   Dt_Customer          2241 non-null   object
 8   Recency              2241 non-null   float64
 9   MntWines             2241 non-null   float64
 10  MntFruits            2241 non-null   float64
 11  MntMeatProducts      2241 non-null   float64
 12  MntFishProducts      2241 non-null   float64
 13  MntSweetProducts     2241 non-null   float64
 14  MntGoldProds         2241 non-null   float64
 15  NumDealsPurchases    2241 non-null   float64
 16  NumWebPurchases      2241 non-null   float64
 17  NumCatalogPurchases  2241 non-null   float64
 18  NumStorePurchases    2241 non-null   float64
 19  NumWebVisitsMonth    2241 non-null   float64
 20  AcceptedCmp3         2241 non-null   float64
 21  AcceptedCmp4         2241 non-null   float64
 22  AcceptedCmp5         2241 non-null   float64
 23  AcceptedCmp1         2241 non-null   float64
 24  AcceptedCmp2         2241 non-null   float64
 25  Complain             2241 non-null   float64
 26  Response             2241 non-null   float64
dtypes: float64(24), object(3)
memory usage: 472.8+ KB

**describe()**

Provide the summary statistics of numerid data

In [6]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,"2,241.00","2,241.00","2,217.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00",...,"2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00"
mean,"5,591.78","1,968.81","52,250.10",0.44,0.51,49.11,303.96,26.30,166.91,37.53,...,2.66,5.79,5.32,0.07,0.07,0.07,0.06,0.01,0.01,0.15
std,"3,245.99",11.98,"25,167.75",0.54,0.54,28.96,336.52,39.76,225.67,54.62,...,2.92,3.25,2.43,0.26,0.26,0.26,0.25,0.11,0.10,0.36
min,0.00,"1,893.00","1,730.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"2,829.00","1,959.00","35,322.00",0.00,0.00,24.00,24.00,1.00,16.00,3.00,...,0.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"5,455.00","1,970.00","51,390.00",0.00,0.00,49.00,174.00,8.00,67.00,12.00,...,2.00,5.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,"8,427.00","1,977.00","68,487.00",1.00,1.00,74.00,504.00,33.00,232.00,50.00,...,4.00,8.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,"11,191.00","1,996.00","666,666.00",2.00,2.00,99.00,"1,493.00",199.00,"1,725.00",259.00,...,28.00,13.00,20.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

```python
include = ` all ` returns unique, top, freq features additionally.

unique = how many unique values within each column

top = which class occurs most within the column

freq = frequency of the most occurred class.
```

In [7]:
df.describe(include='all')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
count,"2,241.00","2,241.00",2241,2241,"2,217.00","2,241.00","2,241.00",2241,"2,241.00","2,241.00",...,"2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00","2,241.00"
unique,NaN,NaN,5,8,NaN,NaN,NaN,663,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Graduation,Married,NaN,NaN,NaN,31-08-2012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1128,864,NaN,NaN,NaN,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,"5,591.78","1,968.81",NaN,NaN,"52,250.10",0.44,0.51,NaN,49.11,303.96,...,2.66,5.79,5.32,0.07,0.07,0.07,0.06,0.01,0.01,0.15
std,"3,245.99",11.98,NaN,NaN,"25,167.75",0.54,0.54,NaN,28.96,336.52,...,2.92,3.25,2.43,0.26,0.26,0.26,0.25,0.11,0.10,0.36
min,0.00,"1,893.00",NaN,NaN,"1,730.00",0.00,0.00,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"2,829.00","1,959.00",NaN,NaN,"35,322.00",0.00,0.00,NaN,24.00,24.00,...,0.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"5,455.00","1,970.00",NaN,NaN,"51,390.00",0.00,0.00,NaN,49.00,174.00,...,2.00,5.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,"8,427.00","1,977.00",NaN,NaN,"68,487.00",1.00,1.00,NaN,74.00,504.00,...,4.00,8.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,"11,191.00","1,996.00",NaN,NaN,"666,666.00",2.00,2.00,NaN,99.00,"1,493.00",...,28.00,13.00,20.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

**isnull()**

gives us non-null values

In [8]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Response                0
dtype: int64

**duplicated()**

```python
first: keeps the first row
last: keeps the last
false: returns all the duplicated rows.
```

In [9]:
# Find duplicated rows 

df.duplicated(keep=False)

df[df.duplicated(keep=False)]

0       False
1       False
2       False
3       False
4       False
        ...
2236    False
2237    False
2238    False
2239    False
2240     True
Length: 2241, dtype: bool

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
2225,"4,749.00","1,968.00",Graduation,Together,"58,554.00",1.00,1.00,26-09-2012,55.00,368.00,...,2.00,6.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2240,"4,749.00","1,968.00",Graduation,Together,"58,554.00",1.00,1.00,26-09-2012,55.00,368.00,...,2.00,6.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

## Data Clenaing

**dropna()**

* dropna() method removes all the rows within the dataset.
* inplace argument gives us the option of whether we permanently drop the null values or not.
* Note: Without inplace argument, we can also assign a variable to create new data frame for example df1 = df.dropna()

In [10]:
df.dropna(inplace=True)

**fillna()**

In [11]:
mean = df.Income.mean() # average of Income

df['Income'].fillna(mean,inplace=True)
# or df['Income'] = df['Income'].fillna(mean)

**drop_duplicates()**

In [12]:
df.drop_duplicates(inplace=True) # inplace = True means we removed permanently.

**to_datetime()**

to_datetime() function converts an object to datetime format.

In [13]:
df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])

df['year_Customer'] =  df['Dt_Customer'].dt.year
df['month_Customer'] = df['Dt_Customer'].dt.month ## month of the customers
df['month_name_Customer'] = df['Dt_Customer'].dt.month_name()
df['day_Customer'] = df['Dt_Customer'].dt.dayofweek ## dayofweek as a number 0 = Monday  6 = Sunday
# df['Dt_Customer'].dt.strftime('%A') # This shows full weekday name

C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '13-11-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '13-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '15-11-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-11-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '31-08-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-03-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '23-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '18-03-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '27-05-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '31-05-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '22-11-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '22-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '29-10-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '20-02-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '29-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '31-12-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '29-04-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-06-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-05-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-11-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '18-02-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-05-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '27-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '17-03-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '30-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '27-08-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '29-08-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '23-06-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '25-02-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '16-07-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '23-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '22-11-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '20-06-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '23-07-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '30-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '20-04-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '17-05-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '25-06-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-02-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '14-11-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-02-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '22-04-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-04-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '30-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '14-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-05-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-07-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-10-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-04-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '19-03-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '18-10-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '28-10-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '22-08-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-06-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '24-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '14-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '17-10-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '20-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '13-11-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '18-11-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '21-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '13-07-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df['Dt_Customer'] =  pd.to_datetime(df['Dt_Customer'])
C:\Users\Kwang-Chul Kwon\AppData\Local\Temp\ipykernel_10612\3670125771.py:1: UserWarning: Parsing '30-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.

In [14]:
df['day_name_Customer'] = df['Dt_Customer'].dt.day_name()

In [15]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,year_Customer,month_Customer,month_name_Customer,day_Customer,day_name_Customer
0,"5,524.00","1,957.00",Graduation,Single,"58,138.00",0.00,0.00,2012-04-09,58.00,635.00,...,0.00,0.00,0.00,0.00,1.00,2012,4,April,0,Monday
1,"2,174.00","1,954.00",Graduation,Single,"46,344.00",1.00,1.00,2014-08-03,38.00,11.00,...,0.00,0.00,0.00,0.00,0.00,2014,8,August,6,Sunday
2,"4,141.00","1,965.00",Graduation,Together,"71,613.00",0.00,0.00,2013-08-21,26.00,426.00,...,0.00,0.00,0.00,0.00,0.00,2013,8,August,2,Wednesday
3,"6,182.00","1,984.00",Graduation,Together,"26,646.00",1.00,0.00,2014-10-02,26.00,11.00,...,0.00,0.00,0.00,0.00,0.00,2014,10,October,3,Thursday
4,"5,324.00","1,981.00",PhD,Married,"58,293.00",1.00,0.00,2014-01-19,94.00,173.00,...,0.00,0.00,0.00,0.00,0.00,2014,1,January,6,Sunday

## Data Analysis and Manipulation

**value_counts()**

In [16]:
df['Education'].value_counts()

Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: Education, dtype: int64

**unique()**

In [17]:
df['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

**nunique()**

In [18]:
df['Education'].nunique()

5

**sort_values()**

In [19]:
df.sort_values(by='Income', ascending=False)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,year_Customer,month_Customer,month_name_Customer,day_Customer,day_name_Customer
2233,"9,432.00","1,977.00",Graduation,Together,"666,666.00",1.00,0.00,2013-02-06,23.00,9.00,...,0.00,0.00,0.00,0.00,0.00,2013,2,February,2,Wednesday
617,"1,503.00","1,976.00",PhD,Together,"162,397.00",1.00,1.00,2013-03-06,31.00,85.00,...,0.00,0.00,0.00,0.00,0.00,2013,3,March,2,Wednesday
687,"1,501.00","1,982.00",PhD,Married,"160,803.00",0.00,0.00,2012-04-08,21.00,55.00,...,0.00,0.00,0.00,0.00,0.00,2012,4,April,6,Sunday
1300,"5,336.00","1,971.00",Master,Together,"157,733.00",1.00,0.00,2013-04-06,37.00,39.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,5,Saturday
164,"8,475.00","1,973.00",PhD,Married,"157,243.00",0.00,1.00,2014-01-03,98.00,20.00,...,0.00,0.00,0.00,0.00,0.00,2014,1,January,4,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975,"10,311.00","1,969.00",Graduation,Married,"4,428.00",0.00,1.00,2013-05-10,0.00,16.00,...,0.00,0.00,0.00,0.00,0.00,2013,5,May,4,Friday
1846,"9,931.00","1,963.00",PhD,Married,"4,023.00",1.00,1.00,2014-06-23,29.00,5.00,...,0.00,0.00,0.00,0.00,0.00,2014,6,June,0,Monday
1524,"11,110.00","1,973.00",Graduation,Single,"3,502.00",1.00,0.00,2013-04-13,56.00,2.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,5,Saturday
21,"5,376.00","1,979.00",Graduation,Married,"2,447.00",1.00,0.00,2013-06-01,42.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2013,6,June,5,Saturday
1245,"6,862.00","1,971.00",Graduation,Divorced,"1,730.00",0.00,0.00,2014-05-18,65.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2014,5,May,6,Sunday

**query()**

```python
query() method filters out the data frame by the condition we want.
```

In [20]:
df.query('Income > 100000')

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,year_Customer,month_Customer,month_name_Customer,day_Customer,day_name_Customer
124,"7,215.00","1,983.00",Graduation,Single,"101,970.00",0.00,0.00,2013-12-03,69.00,722.00,...,1.00,1.00,0.00,0.00,1.00,2013,12,December,1,Tuesday
164,"8,475.00","1,973.00",PhD,Married,"157,243.00",0.00,1.00,2014-01-03,98.00,20.00,...,0.00,0.00,0.00,0.00,0.00,2014,1,January,4,Friday
203,"2,798.00","1,977.00",PhD,Together,"102,160.00",0.00,0.00,2012-02-11,54.00,763.00,...,1.00,1.00,0.00,0.00,1.00,2012,2,February,5,Saturday
252,"10,089.00","1,974.00",Graduation,Divorced,"102,692.00",0.00,0.00,2013-05-04,5.00,168.00,...,1.00,1.00,1.00,0.00,1.00,2013,5,May,5,Saturday
617,"1,503.00","1,976.00",PhD,Together,"162,397.00",1.00,1.00,2013-03-06,31.00,85.00,...,0.00,0.00,0.00,0.00,0.00,2013,3,March,2,Wednesday
646,"4,611.00","1,970.00",Graduation,Together,"105,471.00",0.00,0.00,2013-01-21,36.00,"1,009.00",...,1.00,1.00,0.00,0.00,1.00,2013,1,January,0,Monday
655,"5,555.00","1,975.00",Graduation,Divorced,"153,924.00",0.00,0.00,2014-07-02,81.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2014,7,July,2,Wednesday
687,"1,501.00","1,982.00",PhD,Married,"160,803.00",0.00,0.00,2012-04-08,21.00,55.00,...,0.00,0.00,0.00,0.00,0.00,2012,4,April,6,Sunday
1300,"5,336.00","1,971.00",Master,Together,"157,733.00",1.00,0.00,2013-04-06,37.00,39.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,5,Saturday
1653,"4,931.00","1,977.00",Graduation,Together,"157,146.00",0.00,0.00,2013-04-29,13.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,0,Monday
1898,"4,619.00","1,945.00",PhD,Single,"113,734.00",0.00,0.00,2014-05-28,9.00,6.00,...,0.00,0.00,0.00,0.00,0.00,2014,5,May,2,Wednesday
2132,"11,181.00","1,949.00",PhD,Married,"156,924.00",0.00,0.00,2013-08-29,85.00,2.00,...,0.00,0.00,0.00,0.00,0.00,2013,8,August,3,Thursday
2233,"9,432.00","1,977.00",Graduation,Together,"666,666.00",1.00,0.00,2013-02-06,23.00,9.00,...,0.00,0.00,0.00,0.00,0.00,2013,2,February,2,Wednesday

In [21]:
df[df['Income'] > 100000]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,year_Customer,month_Customer,month_name_Customer,day_Customer,day_name_Customer
124,"7,215.00","1,983.00",Graduation,Single,"101,970.00",0.00,0.00,2013-12-03,69.00,722.00,...,1.00,1.00,0.00,0.00,1.00,2013,12,December,1,Tuesday
164,"8,475.00","1,973.00",PhD,Married,"157,243.00",0.00,1.00,2014-01-03,98.00,20.00,...,0.00,0.00,0.00,0.00,0.00,2014,1,January,4,Friday
203,"2,798.00","1,977.00",PhD,Together,"102,160.00",0.00,0.00,2012-02-11,54.00,763.00,...,1.00,1.00,0.00,0.00,1.00,2012,2,February,5,Saturday
252,"10,089.00","1,974.00",Graduation,Divorced,"102,692.00",0.00,0.00,2013-05-04,5.00,168.00,...,1.00,1.00,1.00,0.00,1.00,2013,5,May,5,Saturday
617,"1,503.00","1,976.00",PhD,Together,"162,397.00",1.00,1.00,2013-03-06,31.00,85.00,...,0.00,0.00,0.00,0.00,0.00,2013,3,March,2,Wednesday
646,"4,611.00","1,970.00",Graduation,Together,"105,471.00",0.00,0.00,2013-01-21,36.00,"1,009.00",...,1.00,1.00,0.00,0.00,1.00,2013,1,January,0,Monday
655,"5,555.00","1,975.00",Graduation,Divorced,"153,924.00",0.00,0.00,2014-07-02,81.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2014,7,July,2,Wednesday
687,"1,501.00","1,982.00",PhD,Married,"160,803.00",0.00,0.00,2012-04-08,21.00,55.00,...,0.00,0.00,0.00,0.00,0.00,2012,4,April,6,Sunday
1300,"5,336.00","1,971.00",Master,Together,"157,733.00",1.00,0.00,2013-04-06,37.00,39.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,5,Saturday
1653,"4,931.00","1,977.00",Graduation,Together,"157,146.00",0.00,0.00,2013-04-29,13.00,1.00,...,0.00,0.00,0.00,0.00,0.00,2013,4,April,0,Monday
1898,"4,619.00","1,945.00",PhD,Single,"113,734.00",0.00,0.00,2014-05-28,9.00,6.00,...,0.00,0.00,0.00,0.00,0.00,2014,5,May,2,Wednesday
2132,"11,181.00","1,949.00",PhD,Married,"156,924.00",0.00,0.00,2013-08-29,85.00,2.00,...,0.00,0.00,0.00,0.00,0.00,2013,8,August,3,Thursday
2233,"9,432.00","1,977.00",Graduation,Together,"666,666.00",1.00,0.00,2013-02-06,23.00,9.00,...,0.00,0.00,0.00,0.00,0.00,2013,2,February,2,Wednesday

**groupby()**

groupby() method aggregates values and return a single scalar value according to the splitted groups.

In [22]:
df.groupby('Education')['Income'].mean()

Education
2n Cycle     47,633.19
Basic        20,306.26
Graduation   52,720.37
Master       52,917.53
PhD          56,145.31
Name: Income, dtype: float64

In [23]:
df.groupby('Education').\
agg({'Income' : 'mean','Response' : 'sum','ID' : 'count'})

              Income  Response    ID
Education
2n Cycle   47,633.19     22.00   200
Basic      20,306.26      2.00    54
Graduation 52,720.37    152.00  1116
Master     52,917.53     56.00   365
PhD        56,145.31    101.00   481

In [24]:
df.groupby('Education').\
agg({'Income' : 'mean','Response' : 'sum','ID' : 'count'}).\
set_axis(['Average Income','# of Yes Response','# of Customers'], axis=1)

            Average Income  # of Yes Response  # of Customers
Education
2n Cycle         47,633.19              22.00             200
Basic            20,306.26               2.00              54
Graduation       52,720.37             152.00            1116
Master           52,917.53              56.00             365
PhD              56,145.31             101.00             481

**pivot_table()**

In [25]:
pd.pivot_table(data = df, values= 'Income', index = 'Education', columns = 'Marital_Status')

Marital_Status,Absurd,Alone,Divorced,Married,Single,Together,Widow,YOLO
Education,,,,,,,,
2n Cycle,NaN,NaN,"49,395.13","46,201.10","53,673.94","44,736.41","51,392.20",NaN
Basic,NaN,NaN,"9,548.00","21,960.50","18,238.67","21,240.07","22,123.00",NaN
Graduation,"79,244.00","34,176.00","54,526.04","50,800.26","51,322.18","55,758.48","54,976.66",NaN
Master,"65,487.00","61,331.00","50,331.95","53,286.03","53,530.56","52,109.01","58,401.55",NaN
PhD,NaN,"35,860.00","53,096.62","58,138.03","53,314.61","56,041.42","60,288.08","48,432.00"

In [26]:
df.pivot_table(values= 'Income', index = 'Education', columns = 'Marital_Status')

Marital_Status,Absurd,Alone,Divorced,Married,Single,Together,Widow,YOLO
Education,,,,,,,,
2n Cycle,NaN,NaN,"49,395.13","46,201.10","53,673.94","44,736.41","51,392.20",NaN
Basic,NaN,NaN,"9,548.00","21,960.50","18,238.67","21,240.07","22,123.00",NaN
Graduation,"79,244.00","34,176.00","54,526.04","50,800.26","51,322.18","55,758.48","54,976.66",NaN
Master,"65,487.00","61,331.00","50,331.95","53,286.03","53,530.56","52,109.01","58,401.55",NaN
PhD,NaN,"35,860.00","53,096.62","58,138.03","53,314.61","56,041.42","60,288.08","48,432.00"

**apply()**

In [27]:
df['Response'].apply(lambda x : 'Accepted' if x == 1 else 'Not Accepted' )

0           Accepted
1       Not Accepted
2       Not Accepted
3       Not Accepted
4       Not Accepted
            ...
2235    Not Accepted
2236    Not Accepted
2237    Not Accepted
2238    Not Accepted
2239        Accepted
Name: Response, Length: 2216, dtype: object

**replace()**

In [28]:
df['Marital_Status'].replace(to_replace=['Alone','Divorced','Widow','YOLO','Absurd'], value='Single')

0         Single
1         Single
2       Together
3       Together
4        Married
          ...
2235     Married
2236    Together
2237      Single
2238    Together
2239     Married
Name: Marital_Status, Length: 2216, dtype: object